@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

/* FONTS */
@font-face {
  font-family: freedom;
  src: url(./assets/fonts/Freedom.ttf);
}

@font-face {
  font-family: quicksand;
  src: url(./assets/fonts/Quicksand.otf);
}

@font-face {
  font-family: drummer;
  src: url(./assets/fonts/Drummer.ttf);
}

@font-face {
  font-family: hiragana;
  src: url(./assets/fonts/Hiragana.ttf);
}

.freedom {
  font-family: freedom;
}

.quicksand {
  font-family: quicksand;
}

.drummer {
  font-family: drummer;
}

/* .hiragana {
  font-family: hiragana;
} */

/* Gradient */

.radial {
  background: #00111c;
}

.metopher {
  color: #00111c;
}
/* Balls */
.left {
  background-image: "url('./assets/Mid/left.svg')";
}

/* Unselectable */

/*Hiding the scrollbars*/

html::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

#root::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Card */
.card1 {
  background-image: url(./assets/Events/Cultural/1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.card2 {
  background-image: url(./assets/Events/Cultural/2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.card3 {
  background-image: url(./assets/Events/Cultural/3.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.card4 {
  background-image: url(./assets/Events/Cultural/4.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.card5 {
  background-image: url(./assets/Events/Cultural/5.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.card6 {
  background-image: url(./assets/Events/Cultural/6.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.card7 {
  background-image: url(./assets/Events/Cultural/7.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.card8 {
  background-image: url(./assets/Events/Cultural/8.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.card9 {
  background-image: url(./assets/Events/Cultural/9.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.cardback {
  background-image: url(./assets/Events/Cultural/CardBack.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

/* Semi-Transparent White */

.stw {
  background-color: rgb(255, 255, 255, 0.2);
}
