@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

/* FONTS */
@font-face {
  font-family: freedom;
  src: url(./assets/fonts/Freedom.ttf);
}

@font-face {
  font-family: quicksand;
  src: url(./assets/fonts/Quicksand.otf);
}

@font-face {
  font-family: drummer;
  src: url(./assets/fonts/Drummer.ttf);
}

.freedom {
  font-family: freedom;
}

.quicksand {
  font-family: quicksand;
}

.drummer {
  font-family: drummer;
}

/* Gradient */

.radial {
  background: radial-gradient(#1a5793, #062249);
}

/* Balls */
.left {
  background-image: "url('./assets/Mid/left.svg')";
}

/* Unselectable */

/*Hiding the scrollbars*/

html::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

#root::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Card */
.card1 {
  background-image: url(./assets/Events/Card1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card1back {
  background-image: url(./assets/Events/Card1Back.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
